# Overview

## Project description
We want to analysis top rated movies and find out what makes a movie on top.

Further more, we build an application to recommend movies based on your favourite movie. Here, a movie name is needed.

## Group members
| Student ID    | Fullname      |
| :-------------: |:-------------:|
| 19127608      | Nguyễn Quang Trường |
| 20127655      | Trần Quốc Trung      |
| 20127374 | Nguyễn Đức Trường      |

# Libraries importing

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import json

# Data Fetching and Analysis

## Data Fetching

### Fetch data from TMDb API (*)

**Run this cell of code if you had not got the data file**

Get about 10.000 movies data from the API using Python requests library.

*It may takes a little time depends on your internet speed.*

In [9]:
for i in range(1,500):
  url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=6d2048ea10e52ddee350f2df79c190c7&language=en-US&page={i}'
  response = requests.get(url).json()
  df_i = pd.DataFrame(response['results'])[['id','title','overview','genre_ids', 'original_language','release_date','vote_average', 'vote_count']]
  df = pd.concat([df,df_i], axis=0)

### Read data from file (*)

**Run this cell of code if you had got the data file**

In [12]:
df = pd.read_excel('Movies_Data.xlsx')

Check the DataFrame

In [13]:
df

,Unnamed: 0,id,title,overview,genre_ids,original_language,release_date,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]",en,1972-03-14,8.7,17005
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]",en,1994-09-23,8.7,22764
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]",en,1974-12-20,8.6,10307
3,3,851644,20th Century Girl,Yeon-du asks her best friend Bora to collect a...,"[10749, 18]",ko,2022-10-06,8.6,308
4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]",en,1993-12-15,8.6,13504
...,...,...,...,...,...,...,...,...,...
9995,15,289153,"Sex, Love & Therapy",A romantic comedy about two Parisian therapist...,"[35, 10749]",fr,2014-10-01,5.3,243
9996,16,109099,Passion,The rivalry between the manipulative boss of a...,"[53, 18, 80, 9648]",en,2012-09-07,5.3,353
9997,17,71469,The Darkest Hour,"In Moscow, five young people lead the charge a...","[27, 28, 53, 878]",en,2011-12-22,5.3,1241
9998,18,234212,Demonic,A police officer and a psychologist investigat...,"[53, 27]",en,2015-02-12,5.3,424
9999,19,157544,The Vatican Tapes,In a highly secured vault deep within the wall...,"[53, 27]",en,2015-07-24,5.3,653

### Save data

Now, we save the fetched data to an Excel file for future uses.

In [11]:
datatoexcel = pd.ExcelWriter('Movies_Data.xlsx')
df.to_excel(datatoexcel)
datatoexcel.save()

## Analysis movies data